#{{ ansible_managed }}
user {{nginx_user}};
worker_processes {{nginx_worker_processes}};
worker_rlimit_nofile {{nginx_worker_rlimit_nofile}};
pid {{nginx_pid}};

events {
    worker_connections  {{ nginx_worker_connections }};

}

http {
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    include {{nginx_prefix}}/mime.types;
    default_type application/octet-stream;

    access_log {{ nginx_log_dir}}/{{ nginx_access_log_name}};
    error_log {{ nginx_log_dir}}/{{ nginx_error_log_name}};

{% if nginx_passenger_enabled == true %}
{% for option in passenger_nginx_options %}
    {{option.directive}} {{option.value}};
{% endfor %}
{% endif %}

{% for option in nginx_http_options %}
{% if option.value is defined and option.value != '' %}
    {{option.directive}} {{option.value}};
{% elif option.value is defined and option.value == '' %}
    {{option.directive}};
{% endif %}
{% endfor %}

    gzip on;
    gzip_disable "msie6";

    include {{nginx_prefix}}/conf.d/*.conf;
    include {{nginx_prefix}}/sites-enabled/*;
}
